header{
   background-color: brown; 
}

.container{
    background-color: chocolate;
}

#footer{
    background-color: aquamarine;
}

.flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}